html , body{
	width:100vw;
	height:100vh;
	position:relative;
	overflow:hidden;
	margin:0 auto;
}

.box{
	display:flex;
	justify-content:center;
	align-items:center;
	width:100vw;
	height:100vh;
	position:absolute;
	left:0;
	top:0;
	overflow:hidden;
}

.hide{
	display:none;
}

.box.inTop{
    -webkit-animation:ShowTop .5s ease-out both;
	animation:ShowTop .5s ease-out both;
}
.box.outTop{
    -webkit-animation:HideTop .5s ease-out both;
	animation:HideTop .5s ease-out both;
}
.box.inDown{
    -webkit-animation:ShowDown .5s ease-out both;
	animation:ShowDown .5s ease-out both;
}
.box.outDown{
    -webkit-animation:HideDown .5s ease-out both;
	animation:HideDown .5s ease-out both;
}
@-webkit-keyframes ShowTop{
	0%{ -webkit-transform:translateY(100%);}
	100%{ -webkit-transform:translateY(0);}
}
@keyframes ShowTop{
	0%{ transform:translateY(100%);}
	100%{ transform:translateY(0);}
}
@-webkit-keyframes HideTop{
	0%{ -webkit-transform:translateY(0);}
	100%{ -webkit-transform:translateY(-100%);}
}
@keyframes HideTop{
	0%{ transform:translateY(0);}
	100%{ transform:translateY(-100%);}
}
@-webkit-keyframes ShowDown{
	0%{ -webkit-transform:translateY(-100%);}
	100%{ -webkit-transform:translateY(0);}
}
@keyframes ShowDown{
	0%{ transform:translateY(-100%);}
	100%{ transform:translateY(0);}
}
@-webkit-keyframes HideDown{
	0%{ -webkit-transform:translateY(0);}
	100%{ -webkit-transform:translateY(100%);}
}
@keyframes HideDown{
	0%{ transform:translateY(0);}
	100%{ transform:translateY(100%);}
}

.background1{
	width: 100vw;
	height: 100vh;
	background: url(img/background1.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}
.title1{
	position: absolute;
	right: 10vw;
	top: 15vh;
	background: url(img/title1.png) no-repeat;
	width: 50vw;
	height: 10vw;
	background-size: contain;
	-webkit-animation:into 1s;
	animation:into 1s;
}
.speakOfMao1{
	position: absolute;
	right: 10vw;
	top: 23.5vh;
	background: url(img/speakOfMao1.png) no-repeat;
	width: 80vw;
	height: 40vw;
	background-size: contain;
	-webkit-animation:into 3s;
	animation:into 3s;
}
.slide{
	position: absolute;
	left: 45vw;
	bottom: 1vh;
	background: url(img/slide.png) no-repeat;
	width: 10vw;
	height: 10vw;
	background-size: contain;
	-webkit-animation:shining 1.5s infinite linear;
	animation:shining 1.5s infinite linear;
}
.background2{
	width: 100vw;
	height: 100vh;
	background: url(img/background2.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}
.mao{
	position: absolute;
	right: 0.5vw;
	top: 42.2vh;
	background: url(img/mao.png) no-repeat;
	width: 29vh;
	height: 100vw;
	background-size: contain;
	-webkit-animation:showing 2s;
	animation:showing 2s;
}
.speakBackground{
	position: absolute;
	left: 5vw;
	top: 61vh;
	background: url(img/speakBackground.png) no-repeat;
	width: 48vw;
	height: 20vw;
	background-size: contain;
	-webkit-animation:showing 3s;
	animation:showing 3s;
}
.speakOfMao2{
	position: absolute;
	left: 5vw;
	top: 61.8vh;
	background: url(img/speakOfMao2.png) no-repeat;
	width: 48vw;
	height: 20vw;
	background-size: contain;
	-webkit-animation:showing 3.5s;
	animation:showing 3.5s;
}
.flagpole{
	position: absolute;
	left: 34.3vw;
	top: 16vh;
	background: url(img/flagpole.png) no-repeat;
	width: 20vw;
	height: 60vw;
	background-size: contain;
	-webkit-animation:showing 6s;
	animation:showing 6s;
}
.soilders{
	position: absolute;
	left: 1vw;
	top: 73.6vh;
	background: url(img/soilders.png) no-repeat;
	width: 28.5vh;
	height: 45vw;
	background-size: contain;
	-webkit-animation:showing 6s;
	animation:showing 6s;
}
.flag{
	position: absolute;
	left: 34.6vw;
	top: 16vh;
	background: url(img/flag.png) no-repeat;
	width: 29vw;
	height: 30vw;
	background-size: contain;
	-webkit-animation:flagUp 12s;
	animation:flagUp 12s;
}
.background3{
	width: 100vw;
	height: 100vh;
	background: url(img/background3.png) no-repeat;
	background-size: cover;
	background-position: center;
}
.background4{
	width: 100vw;
	height: 100vh;
	background: url(img/background4.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}
.upcurtain{
	width: 100vw;
	height: 100vh;
	position: absolute;
	background: url(img/upcurtain.png) no-repeat;
	background-size: contain;
}
.sidecurtain{
	width: 100vw;
	height: 150vh;
	position: absolute;
	background: url(img/sidecurtain.png) no-repeat;
	background-size: contain;
}
.xi{
	position: absolute;
	right: -10vw;
	bottom: 23vh;
	background: url(img/xi.png) no-repeat;
	width: 72vw;
	height: 100vw;
	background-size: contain;
	-webkit-animation:showing 2s;
	animation:showing 2s;
}
.cloud{
	-webkit-animation:showing 2s;
	animation:showing 2s;
}
.cloudNext{
	position: absolute;
	right: 0vw;
	bottom: -3vw;
	background: url(img/cloudNext.png) no-repeat;
	width: 95vw;
	height: 100vw;
	background-size: contain;
	-webkit-animation:luffingCloud 1s infinite linear;
	animation:luffingCloud 1s infinite linear;
}
.cloud1{
	position: absolute;
	right: 0vw;
	bottom: 0vw;
	background: url(img/cloud1.png) no-repeat;
	width: 100vw;
	height: 50vw;
	background-size: contain;
	background-position: bottom;
	-webkit-animation:luffingCloud 4.5s infinite linear;
	animation:luffingCloud 4.5s infinite linear;
}
.cloud2{
	position: absolute;
	right: 0vw;
	bottom: -2vw;
	background: url(img/cloud2.png) no-repeat;
	width: 100vw;
	height: 50vw;
	background-size: contain;
	background-position: bottom;
	-webkit-animation:luffingCloud 2s infinite linear;
	animation:luffingCloud 2s infinite linear;
}
.cloud3{
	position: absolute;
	right: 0vw;
	bottom: 6vw;
	background: url(img/cloud3.png) no-repeat;
	width: 100vw;
	height: 50vw;
	background-size: contain;
	background-position: bottom;
	-webkit-animation:luffingCloud 6s infinite linear;
	animation:luffingCloud 6s infinite linear;
}
.cloud4{
	position: absolute;
	right: 0vw;
	bottom: 2vw;
	background: url(img/cloud4.png) no-repeat;
	width: 100vw;
	height: 50vw;
	background-size: contain;
	background-position: bottom;
	-webkit-animation:luffingCloud 8s infinite linear;
	animation:luffingCloud 8s infinite linear;
}
.dream{
	position: absolute;
	left: -5vw;
	bottom: 26vh;
	background: url(img/dream.png) no-repeat;
	width: 78vw;
	height: 60vw;
	background-size: contain;
	-webkit-animation:showing 4s;
	animation:showing 4s;
}
.tips{
	position: absolute;
	width: 60vw;
	background-color: #000;
	color: #fff;
	font-size: 10vw;
	padding: 10vw;
	height: 30vw;
	left: 10vw;
	top: 50vw;
	opacity:0.5;
	filter:alpha(opacity=50);
	text-align: center;
}
.backgroundM1{
	width: 100vw;
	height: 100vh;
	background: url(img/backgroundM1.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}
.mailBack{
	width: 100vw;
	height: 100vh;
	background: url(img/mailBackDown1.png) no-repeat;
	background-size: contain;
	background-position: bottom;
	position: absolute;
}
.mailFront{
	width: 100vw;
	height: 100vh;
	background: url(img/mailFront1.png) no-repeat;
	background-size: contain;
	background-position: bottom;
	position: absolute;
}
.mailHead{
	width: 100vw;
	height: 43.51vw;
	bottom: 25.3vw;
	background: url(img/mailHead1.png) no-repeat;
	background-size: contain;
	position: absolute;
	transform-origin: top;
	-webkit-transform: rotateX(-180deg);
	-ms-transform: rotateX(-180deg);
	-o-transform: rotateX(-180deg);
	transform: rotateX(-180deg);
	-webkit-animation:flipingS 4s;
	animation:flipingS 4s;
}
.mailHeadP{
	width: 100vw;
	height: 43.51vw;
	bottom: 25.3vw;
	background: url(img/mailHead1.png) no-repeat;
	background-size: contain;
	position: absolute;
	transform-origin: top;
	-webkit-transform: rotateX(-180deg);
	-ms-transform: rotateX(-180deg);
	-o-transform: rotateX(-180deg);
	transform: rotateX(-180deg);
}
.picture{
	width: 78vw;
    height: 56.3vw;
    bottom: 15vh;
    left: 27vw;
	background: url(img/picture1.png) no-repeat;
	transform-origin: left bottom;
	-webkit-transform: rotate(-20.94deg);
	-ms-transform: rotate(-20.94deg);
	-o-transform: rotate(-20.94deg);
	transform: rotate(-20.94deg);
	background-size: contain;
	position: absolute;
}
.pictureMaking{
	width: 78vw;
    height: 56.3vw;
    bottom: 15vh;
    left: 27vw;
	background: url(img/picture1.png) no-repeat;
	transform-origin: left bottom;
	-webkit-transform: rotate(-20.94deg);
	-ms-transform: rotate(-20.94deg);
	-o-transform: rotate(-20.94deg);
	transform: rotate(-20.94deg);
	background-size: contain;
	position: absolute;
}
.pictureShow{
	-webkit-animation:bottomInto 5s;
	animation:bottomInto 5s;
}
.inWrite{
	-webkit-animation:inWrite 3s;
	animation:inWrite 3s;
}
.pictureOut{
	-webkit-animation:bottomOut 3s;
	animation:bottomOut 3s;
}
.picture img{
    width: 74vw;
    height: 52.3vw;
	padding: 2vw;
}
.pictureMaking img{
    width: 74vw;
    height: 52.3vw;
	padding: 2vw;
}
.input{
    width: 74vw;
    height: 52.3vw;
	padding: 2vw;
	position: absolute;
	bottom: 15vh;
    left: 27vw;
    transform-origin: left bottom;
	-webkit-transform: rotate(-20.94deg);
	-ms-transform: rotate(-20.94deg);
	-o-transform: rotate(-20.94deg);
	transform: rotate(-20.94deg);
	opacity:0;
	filter:alpha(opacity=0);
	z-index: 1;
}
.letter{
	width: 49vw;
	height: 55vw;
	bottom: 48vh;
	left: 10vw;
	padding-top: 20vw;
	padding-bottom: 15vw;
	overflow-y:hidden;
	padding-left: 15vw; 
	line-height: 6.1vw;
	font-size: 3vw;
	color: #e3cb21;
	padding-right: 25vw;
	transform-origin: left bottom;
	-webkit-transform: rotate(10deg);
	-ms-transform: rotate(10deg);
	-o-transform: rotate(10deg);
	transform: rotate(10deg);
	background: url(img/letter1.jpg) no-repeat;
	background-size: contain;
	position: absolute;
}
.letterMaking{
	width: 49vw;
	height: 55vw;
	bottom: 48vh;
	left: 10vw;
	padding-top: 20vw;
	padding-bottom: 15vw;
	overflow-y:hidden;
	padding-left: 15vw; 
	line-height: 6.1vw;
	font-size: 3vw;
	color: #e3cb21;
	padding-right: 25vw;
	transform-origin: left bottom;
	-webkit-transform: rotate(10deg);
	-ms-transform: rotate(10deg);
	-o-transform: rotate(10deg);
	transform: rotate(10deg);
	background: url(img/letter1.jpg) no-repeat;
	background-size: contain;
	position: absolute;
}
.letterShow{
	-webkit-animation:bottomInto 6s;
	animation:bottomInto 6s;
}
.letterOut{
	-webkit-animation:bottomOut 4s;
	animation:bottomOut 4s;
}
.making{
	position: absolute;
	left: 35vw;
	bottom: 20vw;
	background: url(img/making1.png) no-repeat;
	width: 30vw;
	height: 30vw;
	background-size: contain;
	-webkit-animation:opening 6s;
	animation:opening 6s;
}
.finish{
	position: absolute;
	left: 35vw;
	bottom: 20vw;
	background: url(img/finish1.png) no-repeat;
	width: 30vw;
	height: 30vw;
	background-size: contain;
	-webkit-animation:opening 8s;
	animation:opening 8s;
	z-index: 2;
}
.content{
	position: absolute;
	left: 0;
	bottom: 0;
}
.content.inLeft{
    -webkit-animation:leftInto .5s ease-out both;
	animation:leftInto .5s ease-out both;
}
.content.outLeft{
    -webkit-animation:leftOut .5s ease-out both;
	animation:leftOut .5s ease-out both;
}
.content.inRight{
    -webkit-animation:rightInto .5s ease-out both;
	animation:rightInto .5s ease-out both;
}
.content.outRight{
    -webkit-animation:rightOut .5s ease-out both;
	animation:rightOut .5s ease-out both;
}
.outIn{
	-webkit-animation:outIn 8s;
	animation:outIn 8s;
}
.writing{
	width: 49vw;
	height: 55vw;
	bottom: 48vh;
	left: 10vw;
	padding-top: 20vw;
	padding-bottom: 15vw;
	padding-left: 15vw; 
	padding-right: 25vw;
	transform-origin: left bottom;
	-webkit-transform: rotate(10deg);
	-ms-transform: rotate(10deg);
	-o-transform: rotate(10deg);
	transform: rotate(10deg);
	background: none;
	position: absolute;
	z-index: 1;
}
.writingPage{
	width: 120vw;
	height: 150vw;
	top: 20vw;
	left: -10vw;
	position: absolute;
	z-index: 3;
	background: url(img/letter1.jpg) no-repeat;
	background-size: contain;
}
.text{
	background: none;
	position: absolute;
	left: 20vw;
	top: 32vw;
	width: 80vw;
	height: 100vw;
	font-size: 9vw;
	line-height: 10vw;
	color: #e3cb21;
	z-index: 5;
}
.hideWriting{
	width: 120vw;
	height: 200vw;
	top: 0vw;
	left: 0vw;
	position: absolute;
	z-index: 4;
	background: none;
}
.pointNo{
	pointer-events: none;
}
.hideWrite{
	-webkit-animation:hideWrite 3s;
	animation:hideWrite 3s;
}
.changeM{
	position: absolute;
	left: 63vw;
    bottom: 83vw;
	background: url(img/changeM1.png) no-repeat;
	width: 30vw;
	height: 30vw;
	background-size: contain;
	z-index: 2;
}
.zDown{
	z-index: 0;
}
.pictureGet{
	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index: 5;
	top: 0;
}
.tipsPictureGet{
	position: absolute;
	width: 80vw;
	padding-left: 10vw;
	padding-right: 10vw;
	padding-top: 40vh; 
	height: 60vh;
	z-index: 5;
	top: 0;
	opacity:0.8;
	filter:alpha(opacity=80);
	color: #fff;
	font-size: 10vw;
	text-align: center;
	background-color: #000;
}
.tipsSave{
	position: absolute;
	width: 20vw;
	height: 20vw;
	opacity:0.8;
	filter:alpha(opacity=80);
	color: #fff;
	z-index: 5;
	text-align: center;
	background-color: #000;
	bottom: 5vw;
	left: 5vw;
	font-size: 4vw;
	padding: 5vw;
}
.pictureLoad{
	position: absolute;
	z-index: -5;
	width: 100vw;
	height: 100vh;
	top: -300vh;
}
.pictureLoad img{
	width: 100vw;
	height: 20vw;
}
@keyframes luffing{
	0%{ margin-top: 0vh; }
	40%{ margin-top: -1vh; }
	60%{ margin-top: -1vh; }
	100%{ margin-top: 0vh; }
}
@keyframes luffingCloud{
	0%{ margin-bottom: 0vh; }
	40%{ margin-bottom: -1vh; }
	60%{ margin-bottom: -1vh; }
	100%{ margin-bottom: 0vh; }
}
@keyframes shining{
	0%{ 
		opacity:0.2;
		filter:alpha(opacity=20);
	}
	40%{ 
		opacity:1;
		filter:alpha(opacity=100);
	}
	60%{ 
		opacity:1;
		filter:alpha(opacity=100);
	}
	100%{ 
		opacity:0.2;
		filter:alpha(opacity=20);
	}
}
@keyframes opening{
	0%{ 
		opacity:1;
		filter:alpha(opacity=100);
		z-index: 2;
	}
	20%{ 
		opacity:1;
		filter:alpha(opacity=100);
		z-index: 2;
	}
	30%{ 
		opacity:0;
		filter:alpha(opacity=0);
		z-index: 0;
	}
	80%{ 
		opacity:0;
		filter:alpha(opacity=0);
		z-index: 0;
	}
	100%{ 
		opacity:1;
		filter:alpha(opacity=100);
		z-index: 0;
	}
}
@keyframes showing{
	0%{
		opacity:0;
 		filter:alpha(opacity=0);
	}
	80%{
		opacity:0;
		filter:alpha(opacity=0);
	}
    100%{
		opacity:1;
		filter:alpha(opacity=100);
    }
}
@keyframes into{
	0%{ margin-right: -100vw; }
	50%{ margin-right: -100vw; }
	100%{ margin-right: 0vw; }
}
@keyframes outIn{
	0%{ margin-bottom: 0vw; }
	50%{ margin-bottom: -100vw; }
	100%{ margin-bottom: 0vw; }
}
@keyframes leftInto{
	0%{ margin-left: -100vw; }
	100%{ margin-left: 0vw; }
}
@keyframes rightInto{
	0%{ margin-left: 100vw; }
	100%{ margin-left: 0vw; }
}
@keyframes leftOut{
	0%{ margin-left: 0vw; }
	100%{ margin-left: -100vw; }
}
@keyframes rightOut{
	0%{ margin-left: 0vw; }
	100%{ margin-left: 100vw; }
}
@keyframes bottomInto{
	0%{ margin-bottom: -100vh; }
	60%{ margin-bottom: -100vh; }
	100%{ margin-bottom: 0; }
}
@keyframes bottomOut{
	0%{ margin-bottom: 0vh; }
	100%{ margin-bottom: -100vh; }
}
@keyframes flagUp{
	0%{
		opacity:0;
 		filter:alpha(opacity=0);
 		margin-top:40vw;
	}
	40%{ 
		opacity:0;
		filter:alpha(opacity=0);
		margin-top:40vw;
	}
    50%{
		opacity:1;
		filter:alpha(opacity=100);
		margin-top:40vw;
    }
    100%{
    	margin-top:0vw;
    }
}
@keyframes flipingS{
	0%{
		-webkit-transform: rotateX(0deg);
		-ms-transform: rotateX(0deg);
		-o-transform: rotateX(0deg);
		transform: rotateX(0deg);
		z-index: 1;
	}
	75% {
		-webkit-transform: rotateX(0deg);
		-ms-transform: rotateX(0deg);
		-o-transform: rotateX(0deg);
		transform: rotateX(0deg);
		z-index: 1;
	}
	100% {
		-webkit-transform: rotateX(-180deg);
		-ms-transform: rotateX(-180deg);
		-o-transform: rotateX(-180deg);
		transform: rotateX(-180deg);
		z-index: 0;
	}
}
@keyframes inWrite{
	0%{
		-webkit-transform: rotate(10deg);
		-ms-transform: rotate(10deg);
		-o-transform: rotate(10deg);
		transform: rotate(10deg);
		z-index: 0;
		width: 49vw;
		height: 55vw;
		top: 5vh;
		left: 10vw;
		padding-top: 20vw;
		padding-bottom: 15vw;
		padding-left: 15vw; 
		padding-right: 25vw;
	}
	50%{
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		z-index: 3;
		width: 49vw;
		height: 55vw;
		top: 5vh;
		left: 10vw;
		padding-top: 20vw;
		padding-bottom: 15vw;
		padding-left: 15vw; 
		padding-right: 25vw;
	}
	100% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		z-index: 3;
		width: 120vw;
		height: 150vw;
		top: 20vw;
		left: -10vw;
		padding-top: 0vw;
		padding-bottom: 0vw;
		padding-left: 0vw; 
		padding-right: 0vw;
	}
}
@keyframes hideWrite{
	0%{
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		z-index: 3;
		width: 120vw;
		height: 150vw;
		top: 20vw;
		left: -10vw;
		padding-top: 0vw;
		padding-bottom: 0vw;
		padding-left: 0vw; 
		padding-right: 0vw;
	}
	50%{
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		z-index: 3;
		width: 49vw;
		height: 55vw;
		top: 5vh;
		left: 10vw;
		padding-top: 20vw;
		padding-bottom: 15vw;
		padding-left: 15vw; 
		padding-right: 25vw;
	}
	100% {
		-webkit-transform: rotate(10deg);
		-ms-transform: rotate(10deg);
		-o-transform: rotate(10deg);
		transform: rotate(10deg);
		z-index: 0;
		width: 49vw;
		height: 55vw;
		top: 5vh;
		left: 10vw;
		padding-top: 20vw;
		padding-bottom: 15vw;
		padding-left: 15vw; 
		padding-right: 25vw;
	}
}